<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
</head>
<body>
    <div th:replace = "~{fragments/nav}"></div>
    <h1>Peliculas</h1>

    <form action="/peliculas/filtro" method="post">
        <input type="text" name="titulo">
        <select name="director" >
            <option value=""></option>
            <option th:each="d : ${directores}" th:text="${d.nombre}" th:value="${d.id}"></option>
        </select>
        <input type="text" name="año">
        <select name="genero">
            <option value=""></option>
            <option th:each="g : ${generos}" th:text="${g}" th:value="${g}"></option>
        </select>
        <button>Filtrar</button>
    </form>

    <ul th:each="p : ${peliculas}">
        <li ><h3 th:text="${p.titulo}"></h3></li>
        <li th:text="${p.director.nombre}"></li>
        <li th:text="${p.año}"></li>
        <li th:text="${p.genero}"></li>
    </ul>
</body>
</html>