<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
</head>
<body>
    <div th:replace = "~{fragments/nav}"></div>
    <h1>Peliculas</h1>

    <form action="/peliculas/filtro" method="post">
        <input type="text" name="titulo">
        <select name="director" >
            <option th:each="d : ${directores}" th:text="${d.nombre}" th:value="${d.nombre}"></option>
        </select>
        <input type="text" name="año">
        <select name="genero">
            <option value=""></option>
            <option value="Terror">Terror</option>
            <option value="Animacion">Animacion</option>
            <option value="CienciaFiccion">Ciencia Ficcion</option>
            <option value="Comedia">Comedia</option>
            <option value="Drama">Drama</option>
            <option value="Fantasia">Fantasia</option>
            <option value="Romance">Romance</option>
        </select>
        <button>Filtrar</button>
    </form>

    <table></table>
</body>
</html>